<% include header %>
    <div class="ui main container">
        <div class="padding">
            <div class="ui grid">
                <div class="row">
                    <div class="ten wide column">
                    </div>
                    <div class="six wide right aligned column">
                        <a style="margin-left: 10px; " href="/article/0/edit" class="ui labeled icon mini button">
                            <i class="write icon"></i> 发帖 </a>
                    </div>
                </div>
            </div>
            <table class="ui very selectable center aligned table white">
                <thead>
                    <tr>
                        <th class="left aligned" style="width: 45%; ">标题</th>
                        <th style="width: 10%; ">作者</th>
                        <th style="width: 10%; ">回复数</th>
                        <th style="width: 15%; ">最新回复</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/445">LCA太强啦！！！！</a>
                        </td>
                        <td>
                            <a href="/user/1313">Ivan</a>
                        </td>
                        <td>1</td>
                        <td>2018-04-21 11:35:52</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/416">翻译组存档：一些大洲级 OI 比赛的地址</a>
                        </td>
                        <td>
                            <a href="/user/2550">Planet6174</a>
                        </td>
                        <td>2</td>
                        <td>2018-04-19 10:03:36</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/45">LibreOJ，一个自由的 OJ</a>
                        </td>
                        <td>
                            <a href="/user/2">samzhang</a>
                        </td>
                        <td>21</td>
                        <td>2018-04-17 21:17:43</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/425">感性理解 LibreOJ 测评机速度（2018 年 3 月 3 日之后）</a>
                        </td>
                        <td>
                            <a href="/user/8">liu_cheng_ao</a>
                        </td>
                        <td>6</td>
                        <td>2018-04-13 22:16:59</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/398">集训队互测 2018 同步赛公告</a>
                        </td>
                        <td>
                            <a href="/user/8">liu_cheng_ao</a>
                        </td>
                        <td>10</td>
                        <td>2018-04-12 14:19:10</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/327">几种取模优化方法（译自 min-25 的博客）</a>
                        </td>
                        <td>
                            <a href="/user/8">liu_cheng_ao</a>
                        </td>
                        <td>5</td>
                        <td>2018-04-12 10:07:16</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/322">你好，戊戌（LibreOJ Round #8）题解</a>
                        </td>
                        <td>
                            <a href="/user/2">samzhang</a>
                        </td>
                        <td>7</td>
                        <td>2018-04-12 8:54:59</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/402">集训队互测 2018 day1 的两份非官方题解</a>
                        </td>
                        <td>
                            <a href="/user/12">l0nl1f3</a>
                        </td>
                        <td>2</td>
                        <td>2018-04-09 16:15:49</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/418">问题求解</a>
                        </td>
                        <td>
                            <a href="/user/8">liu_cheng_ao</a>
                        </td>
                        <td>0</td>
                        <td>2018-04-08 9:42:57</td>
                    </tr>
                    <tr>
                        <td class="left aligned">
                            <a href="/article/389">LOJ的人如何评价知乎上的这篇文章？</a>
                        </td>
                        <td>
                            <a href="/user/2911">Bennyv3</a>
                        </td>
                        <td>7</td>
                        <td>2018-04-07 19:42:59</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="text-align: center; ">
                <div class="ui pagination menu" style="box-shadow: none; ">
                    <a class=" disabled icon item" id="page_prev">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="active item" href="/discussion/global?page=1">1</a>
                    <a class="item" href="/discussion/global?page=2">2</a>
                    <a class="item" href="/discussion/global?page=3">3</a>
                    <a class="item" href="/discussion/global?page=4">4</a>
                    <a class="item" href="/discussion/global?page=5">5</a>
                    <a class="item" href="/discussion/global?page=6">6</a>
                    <a class="item" href="/discussion/global?page=7">7</a>
                    <a class="item" href="/discussion/global?page=8">8</a>
                    <a class="item" href="/discussion/global?page=9">9</a>
                    <a class="item" href="/discussion/global?page=10">10</a>
                    <a class="item" href="/discussion/global?page=11">11</a>
                    <a class="item" href="/discussion/global?page=12">12</a>
                    <a class="item" href="/discussion/global?page=13">13</a>
                    <a class="item" href="/discussion/global?page=14">14</a>
                    <a class="item" href="/discussion/global?page=15">15</a>
                    <a class=" icon item" href="/discussion/global?page=2" id="page_next">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
<% include footer %>