<div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <span style="color: #999;">hnistoj by
                <a href="http://www.xiepingfu.cn" target="_blank">xiepingfu</a>.</span>
        </div>
    </div>
    <script src="/javascripts/xpf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
</script>
</body>

</html>